<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="~{navbar :: navbar}"></div>
<div class="dashboard-grid">

    <div class="card">
        <h3>Ubicazioni totali</h3>
        <p th:text="${totali}"></p>
    </div>

    <div class="card">
        <h3>Ubicazioni libere</h3>
        <p th:text="${libere}"></p>
    </div>

    <div class="card">
        <h3>Ubicazioni occupate</h3>
        <p th:text="${occupate}"></p>
    </div>

    <div class="card">
        <h3>Ubicazioni bloccate</h3>
        <p th:text="${bloccate}"></p>
    </div>

    <div class="card">
        <h3>Quantità in magazzino</h3>
        <p th:text="${quantita}"></p>
    </div>

    <div class="card">
        <h3>Occupazione</h3>
        <p>
            <span th:text="${percentuale}"></span> %
        </p>
    </div>

</div>

</body>
</html>