<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materiale</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<h1 style="padding-left: 10px">Materiali</h1>

<a class="btn" href="/materiali/inserimento">
    Nuovo materiale
</a>

<p th:each="m : ${materiali}"></p>

<table>
    <thead>
      <tr>
          <td>ID</td>
          <td>Codice</td>
          <td>Descrizione</td>
          <td>Quantità</td>
          <td>Peso</td>
          <td>Altezza</td>
          <td>Larghezza</td>
          <td>Profondità</td>
          <td>Classe Rotazione</td>
          <td>Ubicazione</td>
          <td>Azioni</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="m : ${materiali}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.codice}"></td>
        <td th:text="${m.descrizione}"></td>
        <td th:text="${m.quantita}"></td>
        <td th:text="${m.peso}"></td>
        <td th:text="${m.altezza}"></td>
        <td th:text="${m.larghezza}"></td>
        <td th:text="${m.profondita}"></td>
        <td th:text="${m.classeRotazione}"></td>
        <td th:text="${m.ubicazione != null ? m.ubicazione.getCodice() : 'Non assegnato'}"></td>

        <td class="actions">
            <form  class="btn" method="POST" th:action="@{/materiali/elimina/{id}(id=${m.id})}">
                <button type="submit">Elimina</button>
            </form>

              <form class="btn"method="POST" th:if="${m.getUbicazione() != null}" th:action="@{/magazzino/libera/{id}(id=${m.id})}">
                  <button type="submit">Libera Materiale</button>
              </form>

            <a class="btn" th:href="@{/materiali/modifica/{id}(id=${m.id})}">Modifica</a>


            <a class="btn" th:href="@{/etichette/{id}(id=${m.id})}">Etichetta Html</a>

            <a class="btn" th:href="@{/etichette/{id}/pdf(id=${m.id})}">Etichetta PDF</a>
        </td>

    </tbody>


</table>

</body>
</html>