<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materiale</title>
</head>
<body>

<p th:each="m : ${materiali}"></p>

<table>
    <thead>
      <tr>
          <td>ID</td>
          <td>Codice</td>
          <td>Descrizione</td>
          <td>Peso</td>
          <td>Altezza</td>
          <td>Larghezza</td>
          <td>Profondità</td>
          <td>Classe Rotazione</td>
          <td>Azioni</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="m : ${materiali}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.codice}"></td>
        <td th:text="${m.descrizione}"></td>
        <td th:text="${m.peso}"></td>
        <td th:text="${m.altezza}"></td>
        <td th:text="${m.larghezza}"></td>
        <td th:text="${m.profondita}"></td>
        <td th:text="${m.classeRotazione}"></td>
        <td>
            <form method="POST" th:action="@{/materiali/elimina/{id}(id=${m.id})}">
                <button type="submit">Elimina</button>
            </form>
        </td>
        <td>
              <form method="POST" th:action="@{/magazzino/libera/{id}(id=${m.id})}">
                  <button type="submit">Libera Materiale</button>
              </form>
        </td>

        <td>
            <a th:href="@{/materiali/modifica/{id}(id=${m.id})}">Modifica</a>
        </td>
        <td>
              <a th:href="@{/etichette/{id}(id=${m.id})}">Etichetta</a>
        </td>

    </tbody>


</table>

</body>
</html>