<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inserimento Ubicazione</title>
</head>
<body>
<h1>Inserimento Ubicazione</h1>

<form method="POST" th:object="${ubicazioni}" th:action="@{/ubicazioni/inserimento}">
  <h2>Inserimento Ubicazione</h2>

  <label>Altezza Massima: </label>
  <input th:field="*{altezzaMassima}">
  <br>

  <label>Campata: </label>
  <input th:field="*{campata}">
  <br>

  <label>Codice: </label>
  <input th:field="*{codice}">
  <br>

  <label>Larghezza Massima: </label>
  <input th:field="*{larghezzaMassima}">
  <br>

  <label>Livello: </label>
  <input th:field="*{livello}">
  <br>

  <label>Peso Massimo: </label>
  <input th:field="*{pesoMassimo}">
  <br>

  <label>Posizione: </label>
  <input th:field="*{posizione}">
  <br>

  <label>Profondità Massima: </label>
  <input th:field="*{profonditaMassima}">
  <br>

  <label>Stato:</label>
  <select  th:field="*{stato}" >
    <option value="LIBERA">Libera</option>
    <option value="OCCUPATA">Occupata</option>
    <option value="BLOCCATA">Bloccata</option>
  </select>

  <br>
  <button type="submit">Salva Ubicazione</button>

</form>
</body>
</html>