<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Utenti</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container">

  <h1>Gestione Utenti</h1>

  <a href="/utenti/crea">
    <button type="button">Nuovo Utente</button>
  </a>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Ruolo</th>
      <th>Azioni</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="u : ${utenti}">
      <td th:text="${u.id}"></td>
      <td th:text="${u.username}"></td>
      <td th:text="${u.ruolo}"></td>
      <td>
        <form method="POST"
              th:action="@{/utenti/elimina/{id}(id=${u.id})}">
          <button type="submit" class="btn-danger">
            Elimina
          </button>
        </form>
      </a>
      </td>
    </tr>
    </tbody>
  </table>

  <br>


</div>

</body>
</html>